
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/montserrat';
@import '@fontsource/roboto';
@import '@fontsource/inter';
@import '@fontsource/open-sans';

:root {
	--white-50: #f2f2f2;
	--white-950: #0d0d0d;
	--white-100: #e6e6e6;
	--white-200: #ccc;
	--white-300: #b3b3b3;
	--white-400: #999;
	--white-500: #848484;
	--white-600: #666;
	--white-700: #4d4d4d;
	--white-800: #333;
	--white-900: #1a1a1a;
	--blue-50: #eee7fe;
	--blue-950: #080118;
	--blue-100: #ddcefd;
	--blue-200: #bb9dfb;
	--blue-300: #996df8;
	--blue-400: #773cf6;
	--blue-500: #7133f6;
	--blue-600: #4409c3;
	--blue-700: #330792;
	--blue-800: #220462;
	--blue-900: #110231;
	--red-50: #faeaea;
	--red-950: #150505;
	--red-100: #f5d6d6;
	--red-200: #ebadad;
	--red-300: #e18484;
	--red-400: #d75b5b;
	--red-500: #942424;
	--red-600: #a42828;
	--red-700: #7b1e1e;
	--red-800: #521414;
	--red-900: #290a0a;
	--green-500: #249426;
	--green-50: #eafaeb;
	--green-950: #051505;
	--green-100: #d6f5d6;
	--green-200: #adebae;
	--green-300: #84e185;
	--green-400: #5bd75d;
	--green-600: #28a42a;
	--green-700: #1e7b1f;
	--green-800: #145215;
	--green-900: #0a290a;
	--yellow-500: #e8c826;
	--yellow-50: #fdf9e8;
	--yellow-950: #171402;
	--yellow-100: #faf3d1;
	--yellow-200: #f5e7a3;
	--yellow-300: #f0dc75;
	--yellow-400: #ebd047;
	--yellow-600: #b89d14;
	--yellow-700: #8a760f;
	--yellow-800: #5c4e0a;
	--yellow-900: #2e2705;
	--white-500: #fff;
	--white-50: #f2f2f2;
	--white-950: #0d0d0d;
	--white-100: #e6e6e6;
	--white-200: #ccc;
	--white-300: #b3b3b3;
	--white-400: #999;
	--white-600: #666;
	--white-700: #4d4d4d;
	--white-800: #333;
	--white-900: #1a1a1a;
	--blue-500: #00aeef;
	--blue-50: #eee7fe;
	--blue-950: #080118;
	--blue-100: #ddcefd;
	--blue-200: #bb9dfb;
	--blue-300: #996df8;
	--blue-400: #6acff6;
	--blue-600: #005dac;
	--blue-700: #283e95;
	--blue-800: #220462;
	--blue-900: #110231;
	--50: #f2f2f2;
	--100: #e6e6e6;
	--200: #ccc;
	--300: #b3b3b3;
	--400: #999;
	--500: #fff;
	--600: #666;
	--700: #4d4d4d;
	--800: #333;
	--900: #1a1a1a;
	--950: #0d0d0d;
}
:root {
  --font-family: "Proxima Nova", sans-serif;
  --second-family: "SF Pro", sans-serif;
  --third-family: "Akt", sans-serif;
  --font3: "Montserrat", sans-serif;
}